.container {
  margin: auto;
  height: 10vh;
  background-color: #343434;
  display: flex;
  margin-top: 0.3%;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  max-width: 96%;
  padding: 0 4%;
}

.buttonImg {
  width: 7%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.imageUser {
  /* position: relative; */
  width: 90%;
  height: 90%;
  /* margin: auto; */
  border-radius: 50px;
  max-width: 65px;
  max-height: 65px;
}


@media only screen and (min-width: 1500px) {

}