.modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 200;
}

.internal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b2b2b;
  border-radius: 8px;
  box-shadow: 0 0 10px 4px #000;
  width: 30%;
  height: 55%;
  padding: 1rem;
  text-align: left;
  color: #fff;
  flex-direction: column;
}

.divh2 {
  width: 80%;
  height: 15%;
  text-align: center;
}

.divh2 h2 {
  width: 93%;
  font-size: 2.5vw;
  margin: 0 auto;
  padding-bottom: 0.1rem;
  font-weight: 400;
}

.divelement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
  height: 65%;
  margin: 7%;
}

.teste {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 1% 0;
  /* height: 0; */
}

.teste label {
  font-size: 1.5vw;
}

.teste input {
  margin-top: 0.2rem;
  font-size: 1rem;
  padding: 0.3rem;
  height: 4vh;
}

.divButton {
  margin: 11% 0;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.button {
  height: 5vh;
  width: 11vw;
  background-color: #4da6ff;
  color: #1c1c1c;
  font-size: 1.5vw;
}
/* .show{
  display: block ;
} */

@media only screen and (min-width: 1700px) {
  .internal {
    width: 20%;
    height: 50%;
  }

  .divh2 h2 {
    font-size: 1.5vw;
  }

  .teste label {
    font-size: 0.9vw;
  }

  .button  {
    height: 5vh;
    width: 11vw;
    font-size: 0.9vw;
  }
}
