.containerProvider {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.topProvider {
  padding: 0 2rem;
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topProvider .topProviderLeft {
  display: flex;
  align-items: center;
}

.topProvider .topProviderLeft button {
  position: relative;
  right: 1.3rem;
}

.topProvider .topProviderRight {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343434;
  padding: 1rem 0;
  border-radius: 5px;
  border: 2px solid #959595;
}


.topProviderForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.topProvider .topProviderRight .topProviderForm label {
  text-align: center;
  font-size: 1.2rem;
  width: 30%;
}

.topProvider .topProviderRight .topProviderForm input {
  width: 70%;
  height: 25px;
  background-color: var(--grey);
  font-size: 1.2rem;
  padding: 0.5rem;

  border: 1px solid transparent;
}

.topProvider .topProviderRight .topProviderForm input:focus {
  background-color: #2b2b2b;
  color: #fff;
  border: 1px solid #fff;
}

.topProvider .topProviderRight button {
  width: 10%;
}

.mainProvider {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 2rem 2rem;
  width: 100%;
  height: 85%;
}

.tableArea {
  width: 100%;
  overflow: auto;
  transition: all 1s;
}

.tableStyle {
  min-width: 100%;
  max-height: 100%;
  border-spacing: 0;
  text-align: center;
  border: 2px solid var(--grey);
  border-radius: 3px;
  font-size: 1.1rem;
}

.tableStyle tr {
  vertical-align: top;
  background-color: #343434;
}

.tableStyle th {
  border-top: 1px solid #959595;
  border-bottom: 1px solid #959595;
  padding: 0.5rem;
  width: 33.33%;
}

.tableStyle td {
  padding: 1rem;
  height: 72px;
  border-bottom: 1px solid #959595;
}

.tableStyleButtons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.tableStyleOrder {
  cursor: pointer;
}

.providerMenu {
  width: 39%;
  height: 100%;
  background-color: #343434;
  border-radius: 3px;
  transition: all 1s;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #959595;
}

.providerMenu h4 {
  height: 5%;
  width: 60%;
  margin: 0 auto;
}

.providerMenu form {
  margin: 0 auto;
  width: 53%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.providerMenu .providerMenuForm {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35%;
}

.providerMenu .providerMenuForm input {
  padding: 0.3rem;
  border-radius: 5px;
  background-color: var(--grey);
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  border: 1px solid transparent;
}

.providerMenu .providerMenuForm input:focus {
  background-color: #2b2b2b;
  border: 1px solid #fff;
}

.providerMenu form > button {
  font-size: 1.1rem;
  width: 10rem;
  margin: 0 auto;
  padding: 0.5rem;
  color: #fff;
  background-color: var(--green);
}

.providerImg {
  display: inline-block;
  width: 50%;
  height: 35%;
  margin: 0 auto;
}
