.container{
  margin-top: .2%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #343434;
  margin-left: 2%;
  border-radius: 10px;
  transition: all 1s;
}

.CloseContainer{
  display: none;
  transition: all 1s;
}


.subMenuRegister{
  display: flex;
  flex-direction: column;
  margin-left: 15%;
}

.container .active {
  color: #FF4800;
  pointer-events: none;
}


.container a{
  margin: 5%;
  color: #E9E9E9;
  font-size: 1vw;
}