
/* .button{
  width: 50%;
  height: 35px;
  align-self: center;
  background-color: #39CC14;
  transition: background-color .5s;
  font-size: .9em;
} */

/* .button:hover{
  background-color: #444;
} */